<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Puzzle</a>
    </li>
    
  </ul>
</nav>


<div class="row pt-2 pl-2">
  <div class="col-3">
    <div class="card">
      <div class="card-header bg-success text-white">
        <h3>Spiral Integer</h3>
      </div>
      <div class="card-content pt-2 pl-2 pr-2 pb-2">
        Input should be an Integer.Sequence of Integer values starting from 0 and counting upto target value creating a spiral around the '0' value.
      </div>
    </div>
  </div>
</div>
<div class="pt-2 pl-2" ><button class="btn btn-success" (click)="getMatrix('Left')">Left</button>
  <button class="btn btn-success" style="margin-left: 2px;" (click)="getMatrix('Right')">Right</button>
</div>



<div class="row pl-2" style="margin-top: 10px;">
  <div class="col-3">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Input a Number" name="q" [(ngModel)]="userInput"
            aria-label="Recipient's username" aria-describedby="basic-addon2" style="border-radius: 10px;"></div>
  </div>
</div>



<div class="container">

</div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <table class="tableInnerMatrix table-bordered">
        <tr *ngFor="let roww of ansMtrx">
          <td  *ngFor="let coll of roww" class="text-center" style="padding-right: 12px; padding-top: 12px;text-align: center;">
            
              {{coll}}
            
          </td>
        </tr>
      </table>
    </div>
    
    <div class="col-9"></div>
  </div>
  
</div>